<h2>RC Plane <span style="color:#e33500"> Kyosho Minium Edge 540 Plane Set (Red) 10655R</span></h2>
<h3>Kyosho Minium Edge 540 Plane Set (Red) 10655R</h3>

<ul class="bullet">
<li>Fully assembled and completed with coloring and special R / C system linkages. Tail wing is also pre-attached so just charge the battery and take-off.</li>
<li>8mm motor replaces previous 6mm version for more powerful flight performance.</li>
<li>Large diameter D130 x P70mm propeller and special gear reduction unit deliver strong thrust.</li>
<li>Automatically scans for open frequencies across a 79-wave spectrum on the 2.4GHz band for ultra-safe control.</li>
<li>Allows up to 26 aircraft to be flown at the same time.</li>
<li>Connects automatically once transmitter is registered to the receiver. (Comes pre-registered at time of shipment).</li>
<li>Transmitter is equipped with digital trims featuring 10-stage audible trim tones.</li>
<li>Features pre-installed lightweight one-piece control unit with built-in speed control amp, receiver and two linear stroke servos.</li>
<li>Airplane stand features built-in quick battery charger so it can be used for both displaying the model and flight preparation.</li>
<li>Place the model on the stand (which includes built-in battery charger) to create a stunningly realistic display. Or, detach the charger component from the stand to use as a charger.</li>
<li>Reduced wing flex results from the fixed main wing that includes ailerons and doesn't need to be removed from fuselage. Thick flat bottom wing is robust but still light weight with excellent flight agility.</li>
</ul>

<p></p><img src="http://www.hobbycart.com/media/import/kyosho/KS_10655R.jpg" alt="Minium Edge 540 Plane Set ( Red ) 10655R" /><p></p>

<h3>Specifications</h3>
<p>
<table id="product-attribute-specs-table" class="data-table">
        <colgroup><col width="25%">
        <col>
        </colgroup><tbody>
                    <tr class="first odd">
                <th class="label">Length: </th>
                <td class="data last"> 335mm</td>
</tr>
                    <tr class="even">
                <th class="label"> Width:  </th>
                <td class="data last"> 385mm</td>
</tr>
                  <tr class="first odd">
                <th class="label"> Weight: </th>
                <td class="data last"> 30g (approx.)</td>

</tr>
  <tr class="even">
                <th class="label"> Motor: </th>
                <td class="data last"> M8 Coreless Motor</td>
</tr>
			
			 <tr class="first odd">
                <th class="label"> Wing Area: </th>
                <td class="data last"> 2.64dm2</td>

</tr>
  <tr class="even">
                <th class="label"> Wing Load: </th>
                <td class="data last"> 11.36g/dm2</td>
</tr>
 <tr class="first odd">
                <th class="label"> Wing Type: </th>
                <td class="data last">Flat bottom type</td>

</tr>
  <tr class="even">
                <th class="label"> R / C System: </th>
                <td class="data last"> PERFEX KT-17 2.4GHz 3-channel one-piece R / C System</td>
</tr>
 <tr class="first odd">
                <th class="label"> Propeller: </th>
                <td class="data last">D130mm × P70mm</td>

</tr>
  <tr class="even">
                <th class="label"> Dihedral: </th>
                <td class="data last"> 4 °</td>
</tr>
 <tr class="first odd">
                <th class="label"> Scale: </th>
                <td class="data last"> 1/19</td>

</tr>
                </tbody>
    </table>

<p></p><h4>Package Includes</h4>
<li>Fully assembled fuselage</li>
<li>3.7V-70mAh lithium polymer battery pack</li>
<li>Airplane stand with built-in auto-cut off quick charger</li>
<li>2.4GHz 2-stick transmitter with digital trim</li>
</ul>

<p></p><h4>Required to Complete</h4>
<ul class="bullet">
<li>4 x AA-size alkaline batteries for transmitter and 4 x AA-size batteries for charger</li>
<li>Note) Oxyride battery cannot be used.</li>
</ul>

<br>
<br>
<br><img src="{{media url="wysiwyg/infortis/ultimo/icons/whychoosehobbycart.jpg"}}" alt="RC Hobbies" />